* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    line-height: 1.3;
}
/*style of the background color*/
body{
    background-color: rgb(244, 222, 232);
}
/*style of header*/
header{
    display: flex;
    min-height: 10em;
    margin-left: 2em;
    margin-right: 2em;
}
/*align header logo to the left*/
.header-left{
    float: left;
}
/*align header to right*/
.header-right{
    float: right;
    position: absolute;
    right: 7em;
}
/*height of navigation section*/
nav{
    height: 5em;
}
/*style of navigation button */
ul{
    display: flex;
    flex-direction:row;
    list-style: none;
    float: right;
}
.btn{
    border-radius: 15px;
    background-color: rgb(46, 12, 59);
    color: white;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
    height: 2em;
}
/*text style of the website title*/
h1{
    font-size: 5em;
    font-family: "Comic Sans MS", sans-serif;
    display: flex;
}
/*text style of title of each section*/
h2{
    font-size: 3em;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
/*text style of subtitle of section1*/
h3{
    font-size: 1.5em;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/*margin of each section*/
section{
    margin-top: 1em;
    margin-bottom: 1em;
}
/*specific detail of section 1*/
#s1{
    padding: 2em;
    background-color: rgba(239, 157, 198, 0.808);
    min-height: 35em;
}
/*general style of each image in "other images" section*/
img{
    max-width: 45%;
    height: auto;
}
/*style of the logo image*/
#logo{
    height: 8em;
    width: 18em;
}
/*imgage style im "other image" section*/
#images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* style of image in section 1*/
#mainPic{
    float: right;
    margin-right: 1em;
    margin-left: 1em;
    max-width: 40%;
    max-height: 60%;
}
/*style of image of the facebook and instagram icon*/
.icon{
    height: 5em;
    width: 5em;
}
/*margin of major sections*/
main, footer{
    margin: 5em;
}
/*style of each paragraph*/
p{
    margin-top: 0.5em;
    font-size: 15pt;
    font-family: Avenir;
}
/*the margin of the whole page*/
.container{
    margin: 2%;
}
